$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}


/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background: rgb(125, 148, 169);
    padding: 25px;
}

// My styles:

.add-new-contact{
    position: relative;;

    button{
        border-radius: 25px;
        height: 60px;
        width: 175px;
        font-size: 18px;
        position: absolute;
        right: 0;
    }
}

.list-item {
    //height: 153px;
    //overflow: hidden;
    margin-bottom: 25px;
    margin-left: 5px;
   
   h4{
       &:hover{
        font-weight: 900;
       }
    }   

    .right-side,
    .left-side{
        display: inline-block;
    }

    .left-side{
        position: absolute;
        margin-top: 10px;

        .opt-btn{
            margin-top: 15px;

            .edit{
                margin-right: 5px;
            }
        }
    }
    .right-side{
        width: 500px;
        margin-left: 125px
    }

    img {
        width: 100px;
        height: 100px;

    }    
}

.focus-item{

    .top-left,
    .top-right{
        display: inline-block;
        width: 280px;
    }

    .top-left{
        vertical-align: top;

        h1{
            text-align: left;
            margin-top: 45px;
        }

        span{
            float: left;
        }
    }

    .top-right{ 
        width: 200px;
        height: 200px;

        img{
            width: 175px;
            height: 175px;
            border-radius: 50%;
            margin: 15px 0 0 85px;
        }
    }

    p{
        padding: 15px 0;
        text-align: left;
    }
    
    .options{
        //float: right;
        margin-top: -15px;

        button {
            border-radius: 6px;
            height: 40px;
            font-size: 16px;


            .remove{
                margin: 0 10px;
            }    
        }
    }
}
  
.edit-info {
    height: auto;
    overflow: none;

    ul{
        list-style: none; 
        padding: 0;  
        font-size: 18px;

        li{
            margin: 15px 0 0;

            &:first-child{
                margin-top: 20px;
            }

            p {
                display: inline-block;
                width: 75px;
                text-align: left;
            }

            label{
                width: 70px;
            }

            input{
                width: 450px;
                margin-left: 15px;
                padding-left: 5px;
            }
        }
    }

    button{
        margin-left: 395px;
        margin-top: 5px;
        border-radius: 25px;
    }
}

.add-contact-btn{
    float: right;
}

#add-contact-form{
    ul{
        list-style: none;

        li{
            margin-top: 15px;
            font-size: 18px;

            &:first-child{
                margin-top: none;
            }

            label{
                width:70px; 
            }

            input,
            textarea {
                width: 375px;
                padding-left: 5px;
            } 

            textarea{
                height: 85px;
                max-width: 375px;
                max-height: 85px;
            }      
        }
    }
}




























/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
